page {
  width:100%;
  height: 100%;
  overflow-y: hidden;
}
.browser {
  position:relative;
  width:100%;
  height: 100%;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  .navBar {

  }
  .watarfall {

  }
  .btnGrp {

  }
}