page {
  width:100%;
  height: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.browser {
  position:relative;
  width:100%;
  height: auto;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  .showPicMask {
    z-index: 8;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(8px) brightness(50%);
    justify-content:center;
    display: flex;
    .maskContent {
      display: flex;
      position: relative;
      width: 80%;
      height: 60%;
      margin-top: 20%;
      justify-content:center;
      align-items:center;
      //z-index: 2;

      .clickArea {
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .maskImg {
        box-shadow:4rpx 4rpx 8rpx rgba(0,0,0,0.5);
        border-radius: 2%;
        width: 100%;
        height: 100%;
        z-index: 4;
      }


      .likeBtn {
        width: auto;
        height: auto;
        display: flex;
        position: fixed;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        bottom: 50rpx;
        left: 190rpx;
        z-index: 4;
        .likeBtnImg {
          height: 130rpx;
          width: 130rpx;
        }
        .likeBtnText {
          margin-top: 3%;
          color: white;
          font-size: 30rpx;
        }
      }
      .shareBtn {
        width: auto;
        height: auto;
        display: flex;
        position: fixed;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        bottom: 50rpx;
        right: 190rpx;
        z-index: 4;
        .shareBtnImg {
          height: 130rpx;
          width: 130rpx;
        }
        .shareBtnText {
          margin-top: 3%;
          color: white;
          font-size: 30rpx;
        }
      }
    }

  }
  .navBar {
    height: auto;
    width: 100%;
    background-color: white;
    position: fixed;
    transition:all 0.2s;
    z-index: 1;
    .scroll {
      white-space: nowrap;
      display: flex;
      width: auto;
      height: auto;
      transition:all 0.2s;
      padding-top: 3%;
      z-index: 2;
      .item {
        display: inline-block;
        position: relative;
        margin-left: 6rpx;
        margin-right: 6rpx;
        transition:all 0.2s;
        height: auto;
        width: auto;
        z-index: 3;
        .itemImg {
          transition:all 0.2s;
          border-radius: 4%;
          z-index: 4;
          position: relative;
          padding-bottom: 35rpx;
          .itemImgBorder {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 7px solid #ff3366;
            z-index: 5;
            transition:all 0.2s;
            box-sizing: border-box;
            border-radius: 4%;
            display: flex;
            justify-content:center;
            .itemImgBorderText {
              font-size: 26rpx;
              color: white;
              background-color: #ff3366;
              position: absolute;
              top: 0;
              left: 0;
              padding-left: 4rpx;
              padding-right: 12rpx;
              padding-bottom: 3rpx;
              border-bottom-right-radius: 30%;
            }
            .itemImgBorderTri {
              position: absolute;
              bottom: -25rpx;
              z-index: 6;
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 25px solid #ff3366;
              font-size: 0;
              line-height: 0;
            }
          }
        }
        &.item-hover {
          transform: scale(0.95)
        }
      }
    }
  }


  .waterfall {
    width: 100%;
    top: 0;
    display: flex;
    .left-div {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: auto;
      position: relative;
      z-index: 0;
      align-items:center;
      .card {
        width: 85%;
        margin-top: 3%;
        margin-left: 40rpx;
        border-radius: 6rpx;
        .cardImg {
          border-radius: 6rpx;
          width: 100%;
        }
        &.card-hover {
          transform: scale(0.95)
        }
      }
    }
    .right-div {
      display: flex;
      flex-direction: column;
      width:50%;
      height: auto;
      position: relative;
      z-index: 0;
      align-items:center;
      .card {
        width: 85%;
        margin-top: 3%;
        margin-right: 40rpx;
        border-radius: 6rpx;
        .cardImg {
          border-radius: 6rpx;
          width: 100%;
        }
        &.card-hover {
          transform: scale(0.95)
        }
      }
    }
  }

  .divider {
    align-items:center;
    justify-content:center;
    font-size: 30rpx;
    color: #FF3366;
    margin-bottom: 20%;
    margin-top: 3%;
  }
  .btnGrp {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
    .button {
      border-radius:80rpx;
      height:80rpx;
      line-height:80rpx;
      font-size:36rpx;
      text-align:center;
      transition:all 0.2s;
      &.btn-hover {
        transform: scale(0.85)
      }
      &.pink {
        width:50%;
        color:white;
        background:#FF3366;
        margin-left: 3%;
        margin-right: 40rpx;
      }
      &.white {
        width: 270rpx;
        border: 1px solid #FF3366;
        color:#FF3366;
        background:white;
        margin-left: 40rpx;
      }
    }

  }
}
