page {
  width: 100%;
  height: 100%;
  background-color: #6238E6;
}


.scrollPage {
  overflow-y: auto;
  background: url('https://static01.versa-ai.com/upload/e715167f4bc2/06da861b-2b91-46ba-8deb-eff380f7be55.jpg') no-repeat center top;
  background-size: 100%;
}

.page-editor {
  position: relative;
  width: 100%;
  padding: 172px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .addTitle {
    display: flex;
    justify-content: center;
    margin: 79px 0 90px 0;
    height: 51px;
    background: url('https://static01.versa-ai.com/upload/3d4455cc4584/56be68da-93ab-417d-874c-d3dc90e33e14.png') no-repeat top center;
    background-size: contain;
  }

  .pic-section {
    position: relative;
    width: 100%;
    height: 446px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .bank_card_container {
      width: 100%;
      height: 100%;

      &.hide {
        display: none;
      }
    }

    .crop {
      position: relative;
      width: 100%;
      height: 380px;
      transition: all 0.2s;
      overflow: hidden;

      &.hidden {
        opacity: 1;
      }

      .logo {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;

        .subLogo {
          position: absolute;
          pointer-events: none;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
        }
      }

      .background-image {
        position: relative;
        width: 100%;
        height: 100%;
      }

      .raw-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .subSection {
    // margin-top: 22px;

    .hideIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 50px;
      font-size: 24px;
      font-weight: 400;
      color: #DEAFFA;
      text-align: center;
    }

    .buttonPart {
      display: flex;
      margin: auto;
      width: 700px;
      height: 90px;

      #addPhotoFit1,
      #addPhotoFit2 {
        display: flex;
        z-index: 2;
        width: 396px;
        height: 90px;
        justify-content: center;
        align-items: center;
      }

      .short{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 300px;
          height: 90px;
          transform: translate(0,1px);
      }

      .play_agin {
        display: flex;
        margin: 30px auto 0 auto;
        justify-content: center;
        align-items: center;
        width: 396px;
        height: 90px;
        transform: translate(0,0);
      }
    }
  }
}

.addSub {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #DEAFFA;
  text-align: center;
}

.subMain {
  margin-top: 30px;

  .pictureList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 48px 60px 48px;

    .singlePicture {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 165px;
      height: 186px;

      .currentIcon {
        position: absolute;
        left: 50%;
        bottom: 16px;
        width: 32px;
        height: 32px;
        background: url('https://static01.versa-ai.com/upload/7b667e4184f6/96eeaf3f-ec56-481a-b372-cd188249dbc9.png') no-repeat center;
        background-size: contain;
        transform: translate(-50%, 0);
      }

      image {
        width: 122px;
        height: 76px;
      }
    }
  }
}


.button-section {
  margin-top: 20px;

  &.high {
    margin-top: 60px
  }
}

.bottomTip {
  margin: 160px 0 200px 0;
  width: 296px;
  height: 20px;
}

.canvas-wrap {
  position: fixed;
  left: 0;
  bottom: -3050px;
  z-index: -2;
  opacity: 0;
  visibility: none;
}

.save_success_tip {
  padding: 30px 0 60px 0;
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
}

.eye_icon {
  padding: 0 6px 0 0;
  width: 32px;
  height: 32px;
}

.card_shadow {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 60px;
  transform: translate(-50%, 36%);

}

.show_buttons {
  display: flex;
  position: relative;
  margin: 0 auto 30px auto;
  width: 630px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  font-size: 24px;
  color: #DEAFFA;

  &.show3d {
    justify-content: center;
  }
}

.preload_img{
    position: absolute;
    width: 0;
    height: 0;
}