.page-editor {
  position: relative;
  width: 100%;
  height: 100%;
  // padding-top: 228px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .main {
    padding: 0 0 120px 0;
    &.blur {
      filter: blur(9px);
    }
    &.static {
      display: none;
    }
  }

  .pic-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .crop {
      position: relative;
      width: 650px;
      height: 416px;
      // background: #ccc;
      transition: all 0.2s;
      overflow: hidden;
      &.hidden {
        opacity: 0;
      }
      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .raw-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .scrollList {
    height: 150px;
    width: 750px;
  }

  .text {
    width: 110px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    margin-top: 4px;
    text-align: center;
  }

  .block {
    position: relative;
    margin: 0 10px 0 10px;
    width: 110px;
    height: 110px;
    display: inline-block;
    &.bg0 {
      margin: 0 0 0 50px;
    }
  }

  .scrollBox {
    display: flex;
    //  width: 100%;
    //  height: 180px;
    //  overflow: hidden;
    //  white-space: nowrap;
    //  margin-top: 100px;
    margin: 30px;
    &.listCenter {
      text-align: center;
    }
    //.pictureList{
    //  margin: auto;
    .singleForeground {
      position: relative;
      width: 110px;
      height: 110px;

      border-radius: 4px;
      margin-right: 0px;
      //display: inline-block
    }
    .singlePicture {
      position: relative;
      width: 110px;
      height: 110px;
      background-image: url("../../assets/images/Bg.png");
      background-size: cover;
      border-radius: 4px;
      margin: 0 0px 0 0;
      //display: inline-block;
    }
    .acitivated {
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
      height: 110px;
      padding: 0;
      box-sizing: content-box;
      background: rgba(255, 51, 102, 0.6);
      opacity: 0.9;
      z-index: 10;
      color: #ffffff;
      text-align: center;
      font-size: 20px;
      line-height: 110px;
      border: 1px solid red;
    }
    .locked {
      position: absolute;
      top: 34px;
      left: 30px;
      width: 44px;
      height: 44px;
      padding: 0;
      box-sizing: content-box;
      opacity: 0.9;
      z-index: 10;
      border-radius: 4px;
    }

    //}
  }

  .buttonPart {
    margin: auto;
    margin-top: 30px;
    display: flex;
    height: 80px;
    width: 328px;
    &.saved {
      visibility: hidden;
    }
    &.moreMargin {
      margin-top: 64px;
    }
    &.lessWidth {
      width: 400px;
    }
  }

  .button-section {
    margin-top: 20px;
    &.high {
      margin-top: 60px;
    }
  }
  .canvas-wrap {
    position: fixed;
    left: 0;
    bottom: -3050px;
    z-index: -2;
    opacity: 0;
    visibility: none;
  }
  .btn-wrap {
    //width:690rpx;
    width: 672px;
    margin: 0 auto;
    .btn-1 {
      margin-top: 40rpx;
    }
    .btn-2 {
      margin-top: 30rpx;
      width: 49%;
      float: left;
    }
    .btn-3 {
      margin-top: 30rpx;
      width: 49%;
      float: right;
    }
    .btn-4 {
      margin-top: 30rpx;
      visibility: hidden;
    }
  }
}
.newGuide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.newGuide .tips {
  position: absolute;
  width: 392rpx;
  height: 154rpx;
  bottom: 4444444rpx;
  left: 20px;
}
.wx-dialog-footer {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 45px;
  font-size: 17px;
}
.wx-dialog-footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  color: #d5d5d6;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.wx-dialog-btn {
  display: block;
  -webkit-flex: 1;
  flex: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  color: #ff005b;
  border-radius: 80rpx;
  width: 95%;
  height: 72rpx;
  line-height: 64rpx;
  font-size: 30rpx;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid #ff005b;
  margin: 0 30rpx;
}
.wx-dialog-footer .wx-dialog-btn:nth-of-type(2) {
  margin-left: -10rpx;
  color: #fff;
  background-color: #ff005b;
}
.custom-button {
  // font-family: 'versa';
}

.thumbnail_image {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.static-Picture {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 100px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
}
page {
  height: 100%;
}
.logoAndWord {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logoMakron {
    width: 60px;
    height: 60px;
    display: block;
    margin: 20px 0 12px 0;
  }
  .logoWord {
    width: 262px;
    height: 34px;
    font-size: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 34px;
    margin: 0 0 30px 0;
  }
}
.bgBackground {
  display: none;
  &.activated {
    display: block;
    position: absolute;
    background: rgba(255, 51, 102, 1);
    opacity: 0.5;
    top: 0;
    left: 0;
    animation: show;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
